aioboto3==15.5.0
aiobotocore==2.25.1
aiofiles==25.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aioitertools==0.13.0
aiosignal==1.4.0
attrs==25.4.0
aws-cdk-lib==2.243.0
aws-cdk.asset-awscli-v1==2.2.263
aws-cdk.asset-node-proxy-agent-v6==2.1.1
aws-cdk.cloud-assembly-schema==52.2.0
beautifulsoup4==4.14.3
boto3==1.40.61
botocore==1.40.61
bs4==0.0.2
cattrs==25.3.0
constructs==10.5.1
frozenlist==1.8.0
idna==3.11
importlib_resources==6.5.2
jmespath==1.1.0
jsii==1.127.0
loguru==0.7.3
multidict==6.7.1
numpy==2.4.3
pandas==3.0.1
propcache==0.4.1
publication==0.0.3
python-dateutil==2.9.0.post0
s3transfer==0.14.0
six==1.17.0
soupsieve==2.8.3
typeguard==2.13.3
typing_extensions==4.15.0
urllib3==2.6.3
wrapt==1.17.3
yarl==1.23.0
